@font-face { font-family: 'DigitaldreamFatRegular'; src: url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.eot"); src: url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.eot?#iefix") format("embedded-opentype"), url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.woff") format("woff"), url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.ttf") format("truetype"), url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.svg#DigitaldreamFatRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'KomikaTitle-PaintRegular'; src: url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.eot"); src: url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.eot?#iefix") format("embedded-opentype"), url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.woff") format("woff"), url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.ttf") format("truetype"), url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.svg#KomikaTitle-PaintRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'KomikaTitleWideRegular'; src: url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.eot"); src: url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.eot?#iefix") format("embedded-opentype"), url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.woff") format("woff"), url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.ttf") format("truetype"), url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.svg#KomikaTitleWideRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'ChivoRegular'; src: url("/public/styles/CSS/font_libraries/chivo-regular-webfont.eot"); src: url("/public/styles/CSS/font_libraries/chivo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/public/styles/CSS/font_libraries/chivo-regular-webfont.woff") format("woff"), url("/public/styles/CSS/font_libraries/chivo-regular-webfont.ttf") format("truetype"), url("/public/styles/CSS/font_libraries/chivo-regular-webfont.svg#ChivoRegular") format("svg"); font-weight: normal; font-style: normal; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; }

body { line-height: 1; font-size: 100%; -webkit-font-smoothing: antialiased; }

article, aside, figure, footer, header, hgroup, nav, section { display: block; }

img, object, embed { max-width: 100%; }

img { border-style: none; border-color: transparent; border-width: 0; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
a:focus { text-decoration: underline; }
a:hover, a:active { outline: none; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

pre { white-space: pre-wrap; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }

input, textarea, select, button { font-family: inherit; font-weight: inherit; background-color: #fff; border: 0; padding: 0; margin: 0; }

table { font-size: inherit; font: 100%; }

sub { font-size: 75%; line-height: 0; position: relative; }

sup { font-size: 75%; line-height: 0; position: relative; top: -0.5em; }

sub { bottom: -0.25em; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

.clickable, label { cursor: pointer; }

input[type=button], input[type=submit] { cursor: pointer; }

button { cursor: pointer; margin: 0; width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }

a:link { -webkit-tap-highlight-color: #8dc7da; }

ins { background-color: #eef13f; color: black; text-decoration: none; }

mark { background-color: #eef13f; color: black; font-style: italic; font-weight: bold; }

::selection { background: #eef13f; color: #1a1a1a; }

::-moz-selection { background: #eef13f; color: #1a1a1a; }

body { font: 0.875em/1.5em "ChivoRegular", Arial, sans-serif; color: #1a1a1a; }

.button_nav_text { text-transform: uppercase; color: white; text-align: center; }

.bulleted_list ul { list-style: disc; margin: 0 0 1.5em 1.429em; }
.bulleted_list li { float: none; }

p { margin-bottom: 1em; text-indent: 0px; }
p:last-child { margin-bottom: 0; }

a:link { color: white; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a:visited { color: white; }

.heading_font_family { font-family: "KomikaTitle-PaintRegular", Arial, sans-serif; }

.web_font_alpha { font-family: "DigitaldreamFatRegular", Arial, sans-serif; }

.web_font_bravo, .button_nav_text, button, input[type=submit], input[type=button], a.button, input[type=text], input[type=email], input[type=password], select, textarea { font-family: "KomikaTitle-PaintRegular", Arial, sans-serif; }

.headings_1, h1, .headings_2, h2, .headings_3, h3 { font-size: 3.714em; line-height: 1.5em; font-family: "KomikaTitle-PaintRegular", Arial, sans-serif; margin-bottom: 0; font-weight: normal; }

.headings_2, h2 { font-family: "ChivoRegular", Arial, sans-serif; font-size: 1.571em; }

.headings_3, h3 { font-size: 2.857em; color: white; -moz-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -webkit-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -o-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -ms-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; margin-bottom: 1.25em; float: left; }

.medium, input[type=text], input[type=email], input[type=password], select, textarea { font-size: 1em; font-weight: inherit; line-height: 1.5em; }

.x_large { font-size: 1.429em; font-weight: inherit; line-height: 1.5em; }

.xx_large { font-size: 1.714em; font-weight: inherit; line-height: 1.5em; }

.xxx_large, button, input[type=submit], input[type=button], a.button { font-size: 1.857em; font-weight: inherit; line-height: 1.5em; }

.primary_text_shadow { -moz-text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; -webkit-text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; -o-text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; -ms-text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; }

.clearfix { zoom: 1; }
.clearfix:before { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; clear: both; }

.standard_border_radius { -moz-border-radius: 0.429em; -webkit-border-radius: 0.429em; -o-border-radius: 0.429em; -ms-border-radius: 0.429em; border-radius: 0.429em; }
.ie8 .standard_border_radius, .ie7 .standard_border_radius, .ie6 .standard_border_radius { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }

.primary_box_shadow { -moz-box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; -webkit-box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; -o-box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; -ms-box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; }

.center_grid_12_2 { width: 10em; margin: 0 auto; }

.center_grid_12_8 { width: 44.286em; margin: 0 auto; }

.center_grid_12_12 { width: 67.143em; margin: 0 auto; }

.grid_12_2, .horizontal_select li:last-child { display: inline; float: left; margin: 0 0.714em; width: 10em; }

.grid_12_3, .horizontal_select li:first-child { display: inline; float: left; margin: 0 0.714em; width: 15.714em; }

.grid_12_4 { display: inline; float: left; margin: 0 0.714em; width: 21.429em; }

.grid_12_5 { display: inline; float: left; margin: 0 0.714em; width: 27.143em; }

.grid_12_6 { display: inline; float: left; margin: 0 0.714em; width: 32.857em; }

.grid_12_7 { display: inline; float: left; margin: 0 0.714em; width: 38.571em; }

.push_12_2 { left: 11.429em; position: relative; }

.alpha, .horizontal_select li:first-child { margin-left: 0; }

.omega, .horizontal_select li:last-child { margin-right: 0; }

button, input[type=submit], input[type=button], a.button { letter-spacing: 2px; color: white; -moz-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -webkit-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -o-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -ms-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; background: url(/public/images/green_slime_spot.png) no-repeat 50% 50%; -moz-transform: rotate(-7deg); -webkit-transform: rotate(-7deg); -o-transform: rotate(-7deg); -ms-transform: rotate(-7deg); transform: rotate(-7deg); background-size: 6.962em; width: 11.538em; height: 7.692em; left: 1.429em; position: relative; }

input[type=text], input[type=email], input[type=password], select, textarea { border: 1px solid #fe6638; background: #fe6638; padding: 0.714em 0 0.714em 0.714em; width: 98%; outline: none; margin-bottom: 1.0em !important; color: white; letter-spacing: 1px; -moz-border-radius: 0.357em; -webkit-border-radius: 0.357em; -o-border-radius: 0.357em; -ms-border-radius: 0.357em; border-radius: 0.357em; }
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, select:hover, textarea:hover { border-color: #fe6638; }
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, select:focus, textarea:focus { background-color: #fe6638; border-color: #fe6638; }
input[type=text]::-moz-input-placeholder, input[type=email]::-moz-input-placeholder, input[type=password]::-moz-input-placeholder, select::-moz-input-placeholder, textarea::-moz-input-placeholder { color: white; }
input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: white; }
input[type=text]::-o-input-placeholder, input[type=email]::-o-input-placeholder, input[type=password]::-o-input-placeholder, select::-o-input-placeholder, textarea::-o-input-placeholder { color: white; }
input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder { color: white; }
input[type=text]::input-placeholder, input[type=email]::input-placeholder, input[type=password]::input-placeholder, select::input-placeholder, textarea::input-placeholder { color: white; }

select { width: 100%; padding-right: 0.714em; }
.webkit select { height: 40px; }

label { display: block; font-weight: bold; }
label span { padding-left: .25em; font-weight: normal; }

input[type=checkbox] { float: left; margin: 0 0.3em 0 0 !important; }

.inner_widget, .grid_12_col_background_shift { background-position: -10px 0 !important; }

.grid_12_col_background, .grid_12_col_background_shift { background: url(/axle/images/12_col.gif); }
