@font-face { font-family: 'DigitaldreamFatRegular'; src: url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.eot"); src: url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.eot?#iefix") format("embedded-opentype"), url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.woff") format("woff"), url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.ttf") format("truetype"), url("/public/styles/CSS/font_libraries/digitaldreamfat-webfont.svg#DigitaldreamFatRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'KomikaTitle-PaintRegular'; src: url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.eot"); src: url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.eot?#iefix") format("embedded-opentype"), url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.woff") format("woff"), url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.ttf") format("truetype"), url("/public/styles/CSS/font_libraries/komikatitle-paint-webfont.svg#KomikaTitle-PaintRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'KomikaTitleWideRegular'; src: url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.eot"); src: url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.eot?#iefix") format("embedded-opentype"), url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.woff") format("woff"), url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.ttf") format("truetype"), url("/public/styles/CSS/font_libraries/komikatitle-wide-webfont.svg#KomikaTitleWideRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'ChivoRegular'; src: url("/public/styles/CSS/font_libraries/chivo-regular-webfont.eot"); src: url("/public/styles/CSS/font_libraries/chivo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/public/styles/CSS/font_libraries/chivo-regular-webfont.woff") format("woff"), url("/public/styles/CSS/font_libraries/chivo-regular-webfont.ttf") format("truetype"), url("/public/styles/CSS/font_libraries/chivo-regular-webfont.svg#ChivoRegular") format("svg"); font-weight: normal; font-style: normal; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; }

body { line-height: 1; font-size: 100%; -webkit-font-smoothing: antialiased; }

article, aside, figure, footer, header, hgroup, nav, section { display: block; }

img, object, embed { max-width: 100%; }

img { border-style: none; border-color: transparent; border-width: 0; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
a:focus { text-decoration: underline; }
a:hover, a:active { outline: none; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

pre { white-space: pre-wrap; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }

input, textarea, select, button { font-family: inherit; font-weight: inherit; background-color: #fff; border: 0; padding: 0; margin: 0; }

table { font-size: inherit; font: 100%; }

sub { font-size: 75%; line-height: 0; position: relative; }

sup { font-size: 75%; line-height: 0; position: relative; top: -0.5em; }

sub { bottom: -0.25em; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

.clickable, label { cursor: pointer; }

input[type=button], input[type=submit] { cursor: pointer; }

button { cursor: pointer; margin: 0; width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }

a:link { -webkit-tap-highlight-color: #8dc7da; }

ins { background-color: #eef13f; color: black; text-decoration: none; }

mark { background-color: #eef13f; color: black; font-style: italic; font-weight: bold; }

::selection { background: #eef13f; color: #1a1a1a; }

::-moz-selection { background: #eef13f; color: #1a1a1a; }

body { font: 0.875em/1.5em "ChivoRegular", Arial, sans-serif; color: #1a1a1a; }

.button_nav_text, .button_nav li, .obstacles_nav li, .image_grid, .prizes_grid { text-transform: uppercase; color: white; text-align: center; }

.bulleted_list ul { list-style: disc; margin: 0 0 1.5em 1.429em; }
.bulleted_list li { float: none; }

p { margin-bottom: 1em; text-indent: 0px; }
p:last-child { margin-bottom: 0; }

a:link { color: white; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a:visited { color: white; }

.heading_font_family, .kn_mini_logo { font-family: "KomikaTitle-PaintRegular", Arial, sans-serif; }

.web_font_alpha, .countdown { font-family: "DigitaldreamFatRegular", Arial, sans-serif; }

.web_font_bravo, .button_nav_text, .button_nav li, .obstacles_nav li, .image_grid, .prizes_grid, button, input[type=submit], input[type=button], a.button, input[type=text], input[type=email], input[type=password], select, textarea, .ticking_clock p, .obstacle_header { font-family: "KomikaTitle-PaintRegular", Arial, sans-serif; }

.headings_1, h1, .headings_2, h2, .headings_3, h3, .ticking_clock p, .obstacle_header p:first-child, .kn_mini_logo { font-size: 3.714em; line-height: 1.5em; font-family: "KomikaTitle-PaintRegular", Arial, sans-serif; margin-bottom: 0; font-weight: normal; }

.headings_2, h2 { font-family: "ChivoRegular", Arial, sans-serif; font-size: 1.571em; }

.headings_3, h3, .ticking_clock p, .obstacle_header p:first-child { font-size: 2.857em; color: white; -moz-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -webkit-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -o-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -ms-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; margin-bottom: 1.25em; float: left; }

.medium, input[type=text], input[type=email], input[type=password], select, textarea { font-size: 1em; font-weight: inherit; line-height: 1.5em; }

.x_large, .obstacle_header p:last-child { font-size: 1.429em; font-weight: inherit; line-height: 1.5em; }

.xx_large, footer h5 { font-size: 1.714em; font-weight: inherit; line-height: 1.5em; }

.xxx_large, button, input[type=submit], input[type=button], a.button { font-size: 1.857em; font-weight: inherit; line-height: 1.5em; }

.primary_text_shadow, .countdown { -moz-text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; -webkit-text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; -o-text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; -ms-text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; text-shadow: rgba(1, 1, 1, 0.3) 10px 10px 0; }

.clearfix, .page_container, .contest_form, .obstacles, .prizes, .tripple_dare_logo, .button_nav, .obstacles_nav, .ticking_clock, footer, footer ul { zoom: 1; }
.clearfix:before, .page_container:before, .contest_form:before, .obstacles:before, .prizes:before, .tripple_dare_logo:before, .button_nav:before, .obstacles_nav:before, .ticking_clock:before, footer:before, footer ul:before { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after, .page_container:after, .contest_form:after, .obstacles:after, .prizes:after, .tripple_dare_logo:after, .button_nav:after, .obstacles_nav:after, .ticking_clock:after, footer:after, footer ul:after { content: "\0020"; display: block; height: 0; overflow: hidden; clear: both; }

.standard_border_radius, .button_nav li a, .obstacles_nav li a { -moz-border-radius: 0.429em; -webkit-border-radius: 0.429em; -o-border-radius: 0.429em; -ms-border-radius: 0.429em; border-radius: 0.429em; }
.ie8 .standard_border_radius, .ie8 .button_nav li a, .button_nav li .ie8 a, .ie8 .obstacles_nav li a, .obstacles_nav li .ie8 a, .ie7 .standard_border_radius, .ie7 .button_nav li a, .button_nav li .ie7 a, .ie7 .obstacles_nav li a, .obstacles_nav li .ie7 a, .ie6 .standard_border_radius, .ie6 .button_nav li a, .button_nav li .ie6 a, .ie6 .obstacles_nav li a, .obstacles_nav li .ie6 a { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }

.primary_box_shadow { -moz-box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; -webkit-box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; -o-box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; -ms-box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; box-shadow: rgba(1, 1, 1, 0.3) 0 0.143em 0.286em; }

.center_grid_12_2, .kn_mini_logo { width: 10em; margin: 0 auto; }

.center_grid_12_8, footer ul { width: 44.286em; margin: 0 auto; }

.center_grid_12_12, article, .triple_dare_header, footer { width: 67.143em; margin: 0 auto; }

.grid_12_2, .horizontal_select li:last-child { display: inline; float: left; margin: 0 0.714em; width: 10em; }

.grid_12_3, .horizontal_select li:first-child, .button_nav li, .obstacles_nav li { display: inline; float: left; margin: 0 0.714em; width: 15.714em; }

.grid_12_4, footer li { display: inline; float: left; margin: 0 0.714em; width: 21.429em; }

.grid_12_5, .contest_form_container { display: inline; float: left; margin: 0 0.714em; width: 27.143em; }

.grid_12_6, .button_nav, .obstacles_nav, .image_grid li, .prizes_grid li, .the_obstacles { display: inline; float: left; margin: 0 0.714em; width: 32.857em; }

.grid_12_7, .tripple_dare_logo, .ticking_clock { display: inline; float: left; margin: 0 0.714em; width: 38.571em; }

.push_12_2, .tripple_dare_logo { left: 11.429em; position: relative; }

.alpha, .horizontal_select li:first-child, .contest_form_container, .button_nav, .obstacles_nav, .button_nav li:nth-child(odd), .obstacles_nav li:nth-child(odd), .image_grid li:nth-child(odd), .prizes_grid li:nth-child(odd), footer li:nth-child(odd) { margin-left: 0; }

.omega, .horizontal_select li:last-child, .button_nav li:nth-child(even), .obstacles_nav li:nth-child(even), .image_grid li:nth-child(even), .prizes_grid li:nth-child(even), .ticking_clock, .the_obstacles, footer li:nth-child(even) { margin-right: 0; }

button, input[type=submit], input[type=button], a.button { letter-spacing: 2px; color: white; -moz-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -webkit-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -o-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -ms-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; background: url(/public/images/green_slime_spot.png) no-repeat 50% 50%; -moz-transform: rotate(-7deg); -webkit-transform: rotate(-7deg); -o-transform: rotate(-7deg); -ms-transform: rotate(-7deg); transform: rotate(-7deg); background-size: 6.962em; width: 11.538em; height: 7.692em; left: 1.429em; position: relative; }

input[type=text], input[type=email], input[type=password], select, textarea { border: 1px solid #fe6638; background: #fe6638; padding: 0.714em 0 0.714em 0.714em; width: 98%; outline: none; margin-bottom: 1.0em !important; color: white; letter-spacing: 1px; -moz-border-radius: 0.357em; -webkit-border-radius: 0.357em; -o-border-radius: 0.357em; -ms-border-radius: 0.357em; border-radius: 0.357em; }
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, select:hover, textarea:hover { border-color: #fe6638; }
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, select:focus, textarea:focus { background-color: #fe6638; border-color: #fe6638; }
input[type=text]::-moz-input-placeholder, input[type=email]::-moz-input-placeholder, input[type=password]::-moz-input-placeholder, select::-moz-input-placeholder, textarea::-moz-input-placeholder { color: white; }
input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: white; }
input[type=text]::-o-input-placeholder, input[type=email]::-o-input-placeholder, input[type=password]::-o-input-placeholder, select::-o-input-placeholder, textarea::-o-input-placeholder { color: white; }
input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder { color: white; }
input[type=text]::input-placeholder, input[type=email]::input-placeholder, input[type=password]::input-placeholder, select::input-placeholder, textarea::input-placeholder { color: white; }

select { width: 100%; padding-right: 0.714em; }
.webkit select { height: 40px; }

label { display: block; font-weight: bold; }
label span { padding-left: .25em; font-weight: normal; }

input[type=checkbox] { float: left; margin: 0 0.3em 0 0 !important; }

body { background: url(/public/images/textures.gif); }
.ie8 body { background: none; }

.page_container { width: 100%; }
.page_container:nth-child(2) { background: url(/public/images/slime_spot.png) no-repeat rgba(128, 193, 214, 0.8) 50% 0; padding-top: 2.143em; height: 48.786em; }
.ie8 .page_container:nth-child(2), .ie7 .page_container:nth-child(2) { background: #80c1d6; }
.page_container:nth-child(3) { background: rgba(254, 102, 56, 0.8); }
.ie8 .page_container:nth-child(3), .ie7 .page_container:nth-child(3) { background: #fe6638; }
.page_container:nth-child(4) { background: rgba(128, 178, 56, 0.8); }
.ie8 .page_container:nth-child(4), .ie7 .page_container:nth-child(4) { background: #80b238; }
.page_container:nth-child(5) { background: rgba(128, 193, 214, 0.8); }
.ie8 .page_container:nth-child(5), .ie7 .page_container:nth-child(5) { background: #80c1d6; }

article { padding: 2.857em 0; }

.box_shadow { width: 100%; height: 0.5em; background: rgba(1, 1, 1, 0.1); }
.ie8 .box_shadow, .ie7 .box_shadow { background: gray; }

.contest_form { padding-bottom: 7.143em; }

.primary_site_navigation { width: 100%; position: fixed; top: 0; background: rgba(52, 52, 52, 0.1); height: 2.143em; line-height: 2.143em; z-index: 100; text-transform: uppercase; font-weight: bold; }
.ie8 .primary_site_navigation, .ie7 .primary_site_navigation { background: gray; }
.primary_site_navigation nav { margin: 0 auto; width: 44.286em; }
.ie .primary_site_navigation nav { width: 45em; }
.primary_site_navigation ul { display: -moz-box; -moz-box-orient: horizontal; -moz-box-pack: center; -moz-box-align: center; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; display: -o-box; -o-box-orient: horizontal; -o-box-pack: center; -o-box-align: center; display: -ms-box; -ms-box-orient: horizontal; -ms-box-pack: center; -ms-box-align: center; display: box; box-orient: horizontal; box-pack: center; box-align: center; height: auto; width: 100%; }
.primary_site_navigation ul li { -moz-box-flex: 1; -webkit-box-flex: 1; -o-box-flex: 1; -ms-box-flex: 1; box-flex: 1; text-align: center; }
.ie8 .primary_site_navigation ul li, .ie7 .primary_site_navigation ul li { padding: 0 1.429em; }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { .primary_site_navigation { font-size: 1.6em; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { .primary_site_navigation { font-size: 1.6em; } }

.tripple_dare_logo { height: 31.929em; background: url(/public/images/TD_logo.png) no-repeat 55.5% 47.5%, url(/public/images/green_slime_spot.png) no-repeat 50% 50%; text-indent: -999px; margin-top: 2.857em; }
.ie8 .tripple_dare_logo, .ie7 .tripple_dare_logo { background: url(/public/images/TD_logo_composite.png) no-repeat 50% 50%; }
.gecko .tripple_dare_logo, .ie .tripple_dare_logo { color: transparent; }

.triple_dare_header hgroup { width: 100%; float: left; text-align: center; }
.triple_dare_header h1 { color: #fe6638; -moz-text-shadow: white 3px 3px 0; -webkit-text-shadow: white 3px 3px 0; -o-text-shadow: white 3px 3px 0; -ms-text-shadow: white 3px 3px 0; text-shadow: white 3px 3px 0; }
.triple_dare_header h2 { color: white; }

.button_nav li, .obstacles_nav li { height: 15.786em; margin-bottom: 1.429em; }
.button_nav li a, .obstacles_nav li a { background: url(/public/images/obstacles.gif) no-repeat #80b238 -13.857em -16.357em; background-size: 42.857em; display: block; line-height: 29.286em; height: 15.857em; }
.button_nav li a:hover, .obstacles_nav li a:hover { text-decoration: none; }
.button_nav li a:hover, .obstacles_nav li a:hover { background-color: #eef13f; color: #fe6638; cursor: pointer; }
.button_nav li a.selected, .obstacles_nav li a.selected { background-color: #eef13f; color: #fe6638; }
.button_nav li[data-obstacle-name=sunday_slide] a, .obstacles_nav li[data-obstacle-name=sunday_slide] a { background-position: 0.571em -16.5em; }
.button_nav li[data-obstacle-name=hamster_wheel] a, .obstacles_nav li[data-obstacle-name=hamster_wheel] a { background-position: -14.357em -0.286em; }
.button_nav li[data-obstacle-name=down_the_hatch] a, .obstacles_nav li[data-obstacle-name=down_the_hatch] a { background-position: 0.643em 0em; }
.button_nav li[data-obstacle-name=wringer] a, .obstacles_nav li[data-obstacle-name=wringer] a { background-position: -28.143em -17.143em; }
.button_nav li[data-obstacle-name=pick_it] a, .obstacles_nav li[data-obstacle-name=pick_it] a { background-position: -29.214em -0.214em; }

.checker_deco_spacing, .obstacles .checker_deco, .prizes .checker_deco, .contest_form .checker_deco { margin: 1.071em 0 3.929em 2.857em; }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { .checker_deco_spacing, .obstacles .checker_deco, .prizes .checker_deco, .contest_form .checker_deco { margin-bottom: 4em; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { .checker_deco_spacing, .obstacles .checker_deco, .prizes .checker_deco, .contest_form .checker_deco { margin-bottom: 4em; } }

.checker_deco { display: inline; float: left; height: 2.857em; overflow: hidden; }
.ie .checker_deco { border: 1px solid transparent; }
.obstacles .checker_deco { width: 47.143em; }
.prizes .checker_deco { width: 52.857em; }
.contest_form .checker_deco { width: 35.714em; }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { .checker_deco { height: 2.786em; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { .checker_deco { height: 2.786em; } }
.checker_deco span { width: 1.429em; height: 1.429em; display: block; background: #eef13f; float: left; }
.checker_deco span:nth-child(even) { background: transparent; }

.image_grid li, .prizes_grid li { margin-bottom: 1.429em; }

.kn_mini_logo { height: 1.635em; background: url(/public/images/mini_logo_bkg.gif) no-repeat 50% 50%; text-align: center; position: relative; top: -1.635em; margin-bottom: -1.25em; }

.cc_logo { width: 6.286em; height: 2.214em; background: url(/public/images/cc_logo.gif); margin: 0 auto; }

.ticking_clock { height: 24.286em; background: url(/public/images/clock_bkg.gif) no-repeat 80% 50%; }
.ticking_clock p { color: white; line-height: 1.3em; width: 6em; margin: 0 auto; text-align: center; position: relative; top: 8.75em; left: 4.857em; position: relative; }

.countdown { display: block; font-size: 10em; color: #eef13f; position: relative; top: 155px; left: 1.393em; width: 1.786em; }

#sunday_slide, #hamster_wheel, #down_the_hatch, #pick_it, #wringer { display: none; }

.obstacle_header { letter-spacing: 2px; color: white; -moz-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -webkit-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -o-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; -ms-text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; text-shadow: rgba(1, 1, 1, 0.3) 3px 3px 0; background: url(/public/images/green_slime_spot.png) no-repeat 50% 50%; -moz-transform: rotate(-7deg); -webkit-transform: rotate(-7deg); -o-transform: rotate(-7deg); -ms-transform: rotate(-7deg); transform: rotate(-7deg); background-size: 12.929em; width: 30em; height: 15.429em; background-size: 17.857em; text-align: center; left: 1.714em; position: relative; }
.obstacle_header p { position: relative; }
.obstacle_header p:first-child { margin-bottom: 0; top: 1.375em; width: 100%; line-height: 1em; }
.obstacle_header p:last-child { top: 2.75em; }

.each_obstacle { background: url(/public/images/obstacles.gif) no-repeat -35px -25px; background-size: 1800px; width: 100%; height: 510px; }
.each_obstacle.the_tank { background-position: -569px -612px; background-size: 1588px; }
.each_obstacle.sunday_slide { background-position: -51px -625px; background-size: 1625px; }
.each_obstacle.hamster_wheel { background-position: -570px -31px; background-size: 1530px; }
.each_obstacle.down_the_hatch { background-position: -35px -58px; }
.each_obstacle.pick_it { background-position: -1221px -30px; background-size: 1665px; }
.each_obstacle.wringer { background-position: -1101px -632px; background-size: 1567px; }

.prizes_grid { margin-bottom: -175px; float: left; }
.prizes_grid p { position: relative; }
.prizes_grid li { background: url(/public/images/prizes_sprite.gif) no-repeat 0px 0px; }
.prizes_grid li[data-prize-name=space_camp] { background-position: 0px 0px; height: 390px; }
.prizes_grid li[data-prize-name=space_camp] p { bottom: -27.857em; }
.prizes_grid li[data-prize-name=sk8_board] { background-position: -490px 0px; height: 240px; }
.prizes_grid li[data-prize-name=sk8_board] p { bottom: -17.143em; }
.prizes_grid li[data-prize-name=keyboard] { background-position: 0px -490px; height: 190px; position: relative; top: 225px; left: -460px; }
.prizes_grid li[data-prize-name=keyboard] p { bottom: -13.571em; }
.prizes_grid li[data-prize-name=tv_vcr] { background-position: -455px -320px; height: 390px; position: relative; left: 463px; top: -185px; }
.prizes_grid li[data-prize-name=tv_vcr] p { bottom: -27.857em; }

footer { padding-bottom: 3.571em; color: white; }
footer .box_shadow { margin-bottom: 2.857em; }
footer .box_shadow:last-child { margin-bottom: 0em; }
footer h5 { text-align: center; margin-bottom: 0.3em; }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { footer h5 { font-size: 1.857em; font-weight: inherit; line-height: 1.5em; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { footer h5 { font-size: 1.857em; font-weight: inherit; line-height: 1.5em; } }
footer p { text-align: center; }
footer ul { margin-bottom: 2.143em; }
footer li:nth-child(odd) { text-align: right; }
footer li:nth-child(even) { text-align: left; }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { footer li { font-size: 1.429em; font-weight: inherit; line-height: 1.5em; width: 13.6em; }
  footer p { font-size: 1.429em; font-weight: inherit; line-height: 1.5em; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { footer li { font-size: 1.143em; font-weight: inherit; line-height: 1.5em; width: 17.6em; } }
