//////// footer ui styles ////////////
footer {
	@extend .center_grid_12_12;
	@extend .clearfix;
	padding-bottom: #{50 / $em}em;
	color: $white;
	.box_shadow {
		margin-bottom: #{40 / $em}em;
		&:last-child {
			margin-bottom: #{0 / $em}em;
		}
	}
	h5 {
		@extend .xx_large;
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
			@include xxx_large;
		}
		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
			@include xxx_large;
		}
		text-align: center;
		margin-bottom: 0.3em;
	}
	p {
		text-align: center;
	}
	ul {
		@extend .center_grid_12_8;
		@extend .clearfix;
		margin-bottom: #{30 / $em}em;
	}
	li {		
		@extend .grid_12_4;	
		&:nth-child(odd) {
			@extend .alpha;
			text-align: right;
		}
		&:nth-child(even) {
			@extend .omega;
			text-align: left;
		}
	}
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		li {
			@include x_large;
			width: #{272 / $x_large_point_size}em;
		}
		p {
			@include x_large;
		}
	}
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
		li {
			@include large;
			width: #{352 / $x_large_point_size}em;
			//border: 1px solid;
		}
		p {
			//@include large;
		}
	}
}








