.tripple_dare_logo {
	@extend .grid_12_7;
	height: #{447 / $em}em;
	background: url(/public/images/TD_logo.png) no-repeat 55.5% 47.5%, url(/public/images/green_slime_spot.png) no-repeat 50% 50%;
	.ie8 &, .ie7 &{
		background: url(/public/images/TD_logo_composite.png) no-repeat 50% 50%;
	}
	@extend .push_12_2;
	text-indent: -999px;
	.gecko &, .ie & {
		color: transparent;
	}
	margin-top: #{40 / $em}em;
	@extend .clearfix;
}