.ticking_clock {
	@extend .grid_12_7;
	@extend .omega;
	@extend .clearfix;	
	height: #{340 / $em}em;
	background: url(/public/images/clock_bkg.gif) no-repeat 80% 50%;
	p {
		@extend .web_font_bravo;
		color: $white;
		@extend .headings_3;
		line-height: 1.3em;
		@include center_grid_12(1.3);
		text-align: center;
		position: relative;
		top: #{350 / $heading_3_font_size}em;
		@include push_12(0.85);
	}
}

$count_down_font_value: 140;
$count_down_font: #{$count_down_font_value / $em}em;

.countdown {
	display: block;
	@extend .web_font_alpha;
	@extend .primary_text_shadow;
	font-size: $count_down_font;
	color: $charlie_color;
	position: relative;
	top: 155px;
	left: #{195 / $count_down_font_value}em;
	width: #{250 / $count_down_font_value}em;
}