//////////////////////////////////////////////////
//                                              //
// all global site design styles are coded here //
//                                              //
//////////////////////////////////////////////////

.site_container {
	@include center_grid_12(12);
	background: green;
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
		@include grid_12_ipad(12);
		background: blue;
	}
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
		@include center_grid_12(4);	
		background: orange;
	}
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation : landscape) {
		@include center_grid_12(6);	
		background: yellow;
	}
}