@font-face {
    font-family: 'ChivoRegular';
    src: url('/public/styles/CSS/font_libraries/chivo-regular-webfont.eot');
    src: url('/public/styles/CSS/font_libraries/chivo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/styles/CSS/font_libraries/chivo-regular-webfont.woff') format('woff'),
         url('/public/styles/CSS/font_libraries/chivo-regular-webfont.ttf') format('truetype'),
         url('/public/styles/CSS/font_libraries/chivo-regular-webfont.svg#ChivoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}