@font-face {
    font-family: 'KomikaTitle-PaintRegular';
    src: url('/public/styles/CSS/font_libraries/komikatitle-paint-webfont.eot');
    src: url('/public/styles/CSS/font_libraries/komikatitle-paint-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/styles/CSS/font_libraries/komikatitle-paint-webfont.woff') format('woff'),
         url('/public/styles/CSS/font_libraries/komikatitle-paint-webfont.ttf') format('truetype'),
         url('/public/styles/CSS/font_libraries/komikatitle-paint-webfont.svg#KomikaTitle-PaintRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}