@font-face {
    font-family: 'KomikaTitleWideRegular';
    src: url('/public/styles/CSS/font_libraries/komikatitle-wide-webfont.eot');
    src: url('/public/styles/CSS/font_libraries/komikatitle-wide-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/styles/CSS/font_libraries/komikatitle-wide-webfont.woff') format('woff'),
         url('/public/styles/CSS/font_libraries/komikatitle-wide-webfont.ttf') format('truetype'),
         url('/public/styles/CSS/font_libraries/komikatitle-wide-webfont.svg#KomikaTitleWideRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}